<!DOCTYPE html>
<html lang="en" ng-app="Filmes">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja angular</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/js/filmes.module.js"></script>
    <script src="/js/filmes.controller.js"></script>
  </head>
  <body ng-controller="FilmesController">
    <div class="container-lista">

      <nav class="nav-logo"> 
        <h1>{{ titulo }}</h1>
      </nav>

      <div class="lista-filme">

            <div class="filme" ng-repeat="filme in filmes">

                <div class="foto-title-filme">
                 
                <img ng-src="{{ filme.cartaz }}" alt="Cartaz de {{ filme.titulo }}">
                </div>

                <div class="details-filme">
                    <h3>{{filme.titulo}}</h3>
                    <ul>
                        <li><strong>Ano:</strong> {{ filme.ano }}</li>
                        <li><strong>Produtora:</strong> {{ filme.produtora }} </li>
                    </ul>
                    <p> {{filme.sinopse}} </p> 
                    <button ng-click="removerFilme(filme.id)">Excluir</button>
                </div>
                
            </div>
      </div>

      <div class="container-form">
        <form class="form-filmes" ng-submit="adicionarFilme()">
            <h3>Adicionar filme</h3>
            <div class="form-campo">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" ng-model="novoFilme.titulo">
            </div>
            <div class="form-campo pequeno">
                <label for="ano">Ano de lançamento</label>
                <input type="number" id="ano" ng-model="novoFilme.ano">
            </div>
            <div class="form-campo medio">
                <label for="produtora">Produtora</label>
                <input type="text" id="produtora" ng-model="novoFilme.produtora">
            </div>
            <div class="form-campo">
                <label for="cartaz">Url do Cartaz</label>
                <input type="text" id="cartaz" ng-model="novoFilme.cartaz">
            </div>
            <div class="form-campo">
                <label for="sinopse">Sinopse</label>
                <textarea id="sinopse" rows="5" ng-model="novoFilme.sinopse"></textarea>
            </div>

            <footer>
                <button type="reset">Limpar</button>
                <button type="submit">Salvar</button>
            </footer>
        </form>
      </div>


    </div>
  </body>
</html>
